PowerBI:
- Ajout bouton reinit (google)
- masquer un bouton
- bouton Reset lié au bouton masqué (signet) - Bouton rouge masque le bouton reset une fois qu'on clique dessus

Exo 2 
- dupliquer chaque graphe et les superposer
- créer deux signets analyse quantité et chiffre d'affaire
- quand on appuie sur un des deux boutons ca met un signet