# Sessions et historique R
.Rhistory
.RData
.Rproj.user/
*-Ex.R

# Sorties de rendu R Markdown
*.html
/*_cache/
/*_files/
src/*_cache/
src/*_files/
src/Projet.html

# Environnements
.Renviron
.env

# OS
.DS_Store
Thumbs.db
